header{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 100%;
    background-color: rgba(5,59,118, 0.7);
    padding: 10px;
    color: white;
    margin-bottom: 15px;

}
.logo{
    font-size: 24px;
    margin: 0px;
    
}
.cityName{
    font-size: 18px;
    margin: 0px;
    margin-top: 2px;
}