@import'../bootstrap-castum/bootstrap-castum.scss';

@import './weater.scss';
@import './dateList.scss';
@import './header.css';
@import './cityBlock.scss';

body{
    background-image: url(/img/dayCloud.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    // width: 100%;
    // height: 100%;
    min-width: 320px;
}


.opasity-block{
    background: rgba(106,156, 235, .5);
}